.http-error-container {
  text-align: center;
  padding-top: 20%;
  background-size: cover;
}

.http-404-bg {
  background-image: url('/images/map-lg-dim.jpg');
}

.http-error-code {
  display: block;
  font-size: 100px;
  font-weight: bold;
}

.http-error-text {
  display: block;
  font-size: 40px;

}
