$header-min-height: 80%;
$header-text-min-height: 250px;
$section-min-height: 400px;

#sales-page {
	height: 100vh;

	.overlay {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%
	}
	.section-header {
		h2 {
			font-size: 40px;
			color: #555555;
		}
	}

	.section-content {
		font-size: 20px;
	}

	.full-page-header {
		display: flex;
		background: #000000 url('/images/sales-banner-2.jpg') center center no-repeat;
		background-size: cover;
		background-clip: padding-box;
		border: none;
		margin: 0;
		padding: 0;
		min-height: $header-min-height;

		.header-text-container {
			position: relative;
			min-height: $header-text-min-height;
			align-self: flex-end;
			margin: 0;
			padding: 15px;
			width: 100%;
		}

		.header-text {
			display: flex;
		}

		h1 {
			align-self: center;
			font-family: 'Anton', sans-serif; 
			font-size: 80px;
			color: #ffffff;

			small {
				color: #ababab;
			}
		}
	}

	.how-it-works-section {
		min-height: $section-min-height;

		img {
			width: 90%;
		}

		@media (min-width: $screen-sm-min) {
			.row {
				display: flex;
				align-items: center;
			}
		}

		.row {
			max-width: 1000px;
			margin: 0 auto 0 auto;
		}
	}

	.features-section {
		// background: #0000ff;

	}

	.sign-up-section {
		background: #555555;
		min-height: $section-min-height / 2;
		display: flex;
		align-items: center;

		div {
			text-align: center;

			h2 {
				color: white;
			}
		}

		.btn {
			font-size: 24px;
		}
	}
}
