/*
	This stylesheet provides a few extra classes to augment the esri.css stylesheet.
	The classes below affect the popup windows on the map view page when an icon is clicked on.
*/

.esriPopup .popuptable {

}
.esriPopup .popup-table td {
	vertical-align: top;
	padding: 4px;
	width:250px;
}

.esriPopup .popup-table .logo-cell {
	width:75px;
	padding:0;
}
.esriPopup .logo-cell img {
	width:75px;
	height:75px;
}

.esriPopup .popup-table .popup-col-header {
	text-align:left;
	font-weight: bold;
	width:100%;
	font-size: 1.3em;
	border-bottom: 2px solid #888888;
}

.esriPopup .popup-table td ul {
	list-style: none;
	text-indent: none;
	display: inline;
	margin: 0;
	padding: 0;
}
.esriPopup .popup-table .staffing_table {
	margin: 0;
	padding: 0;
	border: none;
}
.esriPopup .popup-table .staffing_table td {
	width:4em;
	margin: 0;
	padding: 0;
}

.esriPopup .popup-table .timestamp-cell {
	width: 100%;
	text-align: right;
}