#mapDiv {
  height: 100%;
}

#mapDiv_root {
  width: 100%;
}

#legendContainer {
  height:200px;
  position: fixed;
  bottom:50px;
  right:0;
  border: 1px solid #000000;
  background-color: white;
  opacity: .9;
  padding:5px;
}


#legendToggler {
  height:30px;
  position:fixed;
  right:0;
  bottom:250px;
}
