#mapDiv {
  height: calc(100vh - 51px); // Subtract navbar height
}

/* mapDiv_root is generated dynamically by the esri library */
#mapDiv_root {
  width: 100%;
  max-width: 100%;
}

/* mapDiv_container is generated dynamically by the esri library */
#mapDiv_container {
  width: 100%;
  max-width: 100%;
}

#legendContainer {
  height:auto;
  position: fixed;
  bottom:80px;
  right:0;
  border: 1px solid #000000;
  background-color: white;
  opacity: .9;
  padding:5px;
}


#legendToggler {
  height:30px;
  position:fixed;
  right:0;
  bottom:50px;
}
